body {
  margin:0; padding:0;
  font-family: "Open Sans";
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


#page {
  width:768px; height:1024px; margin:auto; border:1px solid #e2e2e2; position:relative;
}


#rotors {
  width:768px; height:240px; position:relative;
  background-color:#393939;
}


.rotor {
  width:40px; height:140px;
  position: absolute; overflow:hidden;
}

.rotor-face {
  position:absolute; width:40px; height:140px;
  background-image:url(images/rotor_face.png);
}

.rotor-dial {
  position:absolute; width:40px; height:778px;
  background-image:url(images/rotor.png);
}


#lights {
  width:768px; height:180px; position:relative;
  background-color:#333333; background-image:url('images/lights-bg.png');
}


.light {
  font-size:28px; font-weight:bold; text-align: center;
  position:absolute; padding-top:2px;
  width:50px; height:50px; box-sizing: border-box;
  background-image: url('images/light-bg.png');
  color:#666666; /* border:1px solid #000000; border-radius: 25px; */
}


.lightON {
  color: #ffffff;
}



#keys {
  width:768px; height:180px; position:relative;
  background-color:#050505;
}

.key {
  font-size:28px; font-weight:bold; text-align: center; padding-top:4px;
  position:absolute;
  width:50px; height:50px; box-sizing: border-box; cursor:pointer;
  background-image:url('images/key-bg.png'); color:#ffffff;
  /* border:4px solid #d2d2d2; border-radius: 25px; */
}


.keyDown {
  width:40px; height:40px; padding-top:6px;
  font-size:20px; background-image:url('images/key-pressed-bg.png');
}




#plugBoardContainer { background-image:url('images/plugboard-bg.png'); position: relative; width:768px; height:150px; }
#socketsCanvas { position:absolute; }
#plugsCanvas { position:absolute; }
#workingCanvas { position:absolute; }
